    <% include partials/template/head.ejs %>

    <div class="container">
        <div class="row">

            <% albums.forEach(albumObj => { %>
                <div class="col-6 mb-3">
                    <a href="/<%= albumObj.shortTitle %>">

                        <img class="w-75 image" src="../images/<%= albumObj.coverArt %>">
                    </a>
                </div>
                <div class="col-6 mb-3">
                    <p><b>Album Name:</b> <%= albumObj.albumTitle %></p>
                    <p><b># of Tracks:</b> <%= albumObj.tracks.length %></p>
                    <p><b>Release Date:</b> <%= albumObj.releaseDate %></p>
                    <p><b>Short Summary:</b> <%= albumObj.shortSummary %></p>
                </div>
            <% }) %>

        </div>
    </div>
    
    <% include partials/template/foot.ejs %>